# Python / Virtual Environment / Pip
.venv/
__pycache__/
*.egg-info/
*.py[cod]
*.pyo
*.pyd
*.db

# Environment variables
*.env
!.env.example


# Database
*.sqlite3
*.sqlite

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
