[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "python app.py"
fmt = "python -m black . --color --preview --fast --config .black.toml"

[packages]
flask = "*"
flask-socketio = "~=5.5.1"
flask-cors = "*"
pylint = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.13"
